
resource/*
*.psd

web-static/node_modules/*

wordpress/*
!wordpress/wp-content

wordpress/wp-content/*
!wordpress/wp-content/themes

wordpress/wp-content/themes/*
!wordpress/wp-content/themes/portfolio

firebase/*

Live/*