.experience {
    text-align: center;
    background:url("/assets/img/experience-bg.jpg")  center center no-repeat fixed;
    background-size: cover;
    position: relative;

    &__headline {
        color: $whiteText;
        font-weight: 300;
    }

    &__group {
        margin-bottom: 50px;
    }

    &__title {
        /*border: 1px solid red;*/
        font-size: 1.5rem;
        color: #ECECEC;
        margin: 0;
    }

    &__subtitle {
        /*border: 1px solid blue;*/
        font-size: 1.2rem;
        font-weight: 200;
        color: $grayText;
        margin: 0;
    }
}

/*Transparent overlay*/
.experience::after {
  content: " ";
  z-index: 2;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.1);
}