.education {

    text-align: center;
    background: $bgWhite;

    &__row {
        width: 100%;
        position: relative;
    }

    &__group {
        margin-bottom: 30px;
    }

    &__text {
        /*Centering Text*/
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
        height: 100%;
        text-shadow: 2px 2px 20px #000;
        /*Transparent BG*/
/*        background: rgba(0,0,0,0.2);*/

        &-year {
            /*Typography*/
            color: $whiteText;
            font-size: 1.2rem;
            font-weight: 300;
            /*Fix position*/
            position: absolute;
            top: 0;
            width: 100%;
            margin: 18px auto 0;
            padding: 0;
        }

        &-title {

            /*Typography*/
            color: $whiteText;
            font-size: 1.1rem;
            font-weight: 300;
            /*Fix position*/
            position: absolute;
            top: 50%;
            transform: translateY(-15px);
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0 5px;
        }

        &-subtitle {
            /*Typography*/
            color: $whiteText;
            font-size: .8rem;
            font-weight: 300;
            /*Fix position*/
            position: absolute;
            top: 50%;
            height: 100%;
            width: 100%;
        }

        &-location {
            /*Typography*/
            color: $whiteText;
            font-size: 1rem;
            font-weight: 300;
            /*Fix position*/
            position: absolute;
            bottom: 0;
            width: 100%;
            margin: 0 auto 15px;
            padding: 0;
        }

    }

}
