.section {

    padding: 80px 0;

    &__title {
        /*Typography*/
        color: $mainBlue;
        font-size: 3rem;
        font-weight: 600;
        /*Postion*/
        margin-bottom: 100px;
    }
}