.hero {
    border:2px solid red;
    background: linear-gradient(-45deg,$mainBlue,$subBlue);
    height: 100vh;

    &__group {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 100%;
        height: auto;
        border:1px solid red;
    }

    &__profile {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border:1px solid red;
    }

    &__title {

        color: $whiteText;
        font-weight: 300;
        border:1px solid red;
    }

    &__subtitle {
        color: $whiteText;
        font-weight: 300;
        display: block;
        border:1px solid red;
    }

}