/* Typography*/
$darkText: #3d4351;
$grayText: #b0b4bb;
$whiteText: #fff;

/* GENERAL COLOR*/
$mainBlue: #333844;
$subBlue: #34497c;
$mainRed: #ed1b43;

/*SECTION BG*/
$bgWhite: #F7F7F7;
$bgGray:#e9ebee;

/*$skillbar*/
$skillBarTop: #0091ea;
$skillBarBottom:#e0e0e0;