/* Typography*/
$darkText: #3d4351;
$grayText: #9e9e9e;
$whiteText: #fff;

/* GENERAL COLOR*/
$mainBlue: #333844;
$subBlue: #34497c;
$skillBlue: #0091ea;
$mainRed: #ed1b43;

/*SECTION BG*/
$bgWhite: #F7F7F7;
$bgGray:#e9ebee;
